.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 15px;
    min-width: 65px;
}

.elements {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    width: 55px;
}

.item.active {
    background-color: blue;
    color: aliceblue;
}



